<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginConsumidorServlet</servlet-name>
        <servlet-class>Servlets.LoginConsumidorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterConsumidorServlet</servlet-name>
        <servlet-class>Servlets.RegisterConsumidorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutConsumidorServlet</servlet-name>
        <servlet-class>Servlets.LogOutConsumidorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectOfertasServlet</servlet-name>
        <servlet-class>Servlets.SelectOfertasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RubrosCantOfertasServlet</servlet-name>
        <servlet-class>Servlets.RubrosCantOfertasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarCuponGeneradoServlet</servlet-name>
        <servlet-class>Servlets.VerificarCuponGeneradoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectOfertasServletConsumidor</servlet-name>
        <servlet-class>Servlets.SelectOfertasServletConsumidor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginConsumidorServlet</servlet-name>
        <url-pattern>/LoginConsumidorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterConsumidorServlet</servlet-name>
        <url-pattern>/RegisterConsumidorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutConsumidorServlet</servlet-name>
        <url-pattern>/LogOutConsumidorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectOfertasServlet</servlet-name>
        <url-pattern>/SelectOfertasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RubrosCantOfertasServlet</servlet-name>
        <url-pattern>/RubrosCantOfertasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarCuponGeneradoServlet</servlet-name>
        <url-pattern>/VerificarCuponGeneradoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectOfertasServletConsumidor</servlet-name>
        <url-pattern>/SelectOfertasServletConsumidor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
